/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 0;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.thumbnail > img {
    margin-top: 10px;
    max-height: 100px;
}


.thumbnail h3 {
    text-align: center;
}

.thumbnail .btn {
    width: 100%;
}

.jumbotron {
  background: url('/images/nice-house.jpg') no-repeat center center;
  background-size: cover;
}
