.thumbnail > img {
    margin-top: 10px;
    max-height: 100px;
}


.thumbnail h3 {
    text-align: center;
}

.thumbnail .btn {
    width: 100%;
}

.jumbotron {
  background: url('/images/nice-house.jpg') no-repeat center center;
  background-size: cover;
}
